section {
	background-image: url('/assets/hero/hero-mobile.webp');
	background-size: cover;
	display: flex;
	place-content: center;
	padding: 45px 55px;

	@media (min-width:961px) {
		border-radius: 30px;
		padding: 65px 0;
		background-image: url('/assets/hero/hero-desktop.webp');
	}
}

div {
	background-color: rgba(var(--color-overlay), 0.6);
	border-radius: 20px;
	color: #fff;
	padding: 32px 35px;
	text-align: center;

	@media (min-width:961px) {
		inline-size: 304px;
	}
}

h1 {
	font-size: 18px;
	line-height: 26px;
	font-weight: 900;
	margin-block-end: 12px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	margin-block-end: 12px;
}

button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	padding: 14px 0;
	inline-size: 100%;
	margin-block-end: 10px;
	background-color: var(--button-bg-color);
	color: var(--button-color);
	border-radius: 100px;
	transition: var(--transition-background);

	&:hover {
		background-color: var(--button-bg-color-hover);
	}
}

p {
	font-size: 11px;
	line-height: 14px;
	font-weight: 400;
}
