aside {
	display: none;

	@media (min-width:961px) {
		display: block;
		background-color: var(--base-bg);
		block-size: 100vh;
		padding-block: 24px 18px;
		display: flex;
		flex-direction: column;
		gap: 52px;
		/* padding: 12px 0 12px 16px;
		border-radius: 10px;
		max-inline-size: 1197px;
		margin-inline: auto; */
	}
}

.logo {
	display: block;
	inline-size: 52px;
	block-size: 49px;
	background-image: url('/assets/logos/logo-stacked-light.svg');
	margin-inline: auto;
}

.nav {
	display: flex;
	flex-direction: column;
	gap: 16px;
	inline-size: fit-content;
	margin-inline: auto;
}
.nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	block-size: 40px;
	inline-size: 40px;
	background-color: var(--pills-bg);

	&:hover {
		background-color: var(--pills-bg-hover);
	}

	&.active {
		background-color: var(--button-bg-color);

	}

}
