<div
	 class="body"
	 [ngClass]="currentPage"
	 [style.--button-bg-color]="buttonBgColor"
	 [style.--button-bg-color-hover]="buttonBgColorHover"
	 [style.--button-color]="buttonColor"
	 [style.--text-color-primary]="textcolorPrimary"
	 [style.--text-color-secondary]="textcolorSecondary"
	 [style.--base-bg]="baseBg"
	 [style.--zero-bg]="zeroBg"
	 [style.--color-primary]="colorPrimary"
	 [style.--color-overlay]="colorOverlay"
	 [style.--input-border]="inputBorder"
	 [style.--input-placeholder]="inputPlaceholder"
	 [style.--pills-bg]="pillBg"
	 [style.--color-pill-text]="pillColor"
	 [style.--color-card-start]="colorCardStart"
	 [style.--color-card-stop]="colorCardStop">
	<app-header [balance]="balance" (walletClicked)="deposit()" (helpClicked)="openSettings()"></app-header>
	<main>
		<router-outlet (activate)="onActivate($event)"></router-outlet>
	</main>
	<app-footer></app-footer>

	<!-- Dialog HTML -->
	<dialog #settings>
		<header>
			<h2>Settings</h2>
			<button type="button" (click)="closeSettings()">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
					<path fill="#B5C3D3" fill-rule="evenodd"
						  d="M18.707 5.293a1 1 0 0 1 0 1.414l-12 12a1 1 0 0 1-1.414-1.414l12-12a1 1 0 0 1 1.414 0Z"
						  clip-rule="evenodd" />
					<path fill="#B5C3D3" fill-rule="evenodd"
						  d="M5.293 5.293a1 1 0 0 1 1.414 0l12 12a1 1 0 0 1-1.414 1.414l-12-12a1 1 0 0 1 0-1.414Z"
						  clip-rule="evenodd" />
				</svg>
			</button>
		</header>

		<div class="content">
			<div class="main-action">
				<button (click)="withdraw(); closeSettings()">
					Withdrawal
				</button>

				<button (click)="quickDeposit(); closeSettings()">
					Quick Deposit
				</button>
			</div>

			<div class="secondary-action">
				<button (click)="setLoggedIn(!loggedIn); closeSettings()">
					{{ loggedIn ? 'Log out' : 'Log in' }}
				</button>

				<button type="button" (click)="setDepositLimit(); closeSettings()">
					Set deposit limit
				</button>

				<button type="button" (click)="changeUser(); closeSettings()">
					Change user
				</button>
			</div>
		</div>
	</dialog>

	<div *ngIf="loggedIn">
		<fluid-widget
					  #fluidWidgetRef id="fluid-widget"
					  [attr.operator-id]="operatorId"
					  [attr.user-id]="userId"
					  [attr.session-id]="sessionId"
					  locale="en"
					  currency="EUR"
					  country="IRL"
					  user-data="{}"
					  [attr.open]="isOpen"
					  [attr.balance]="balance"
					  [attr.withdrawable-balance]="withdrawableBalance"
					  [attr.deposit-limit]="depositLimit"
					  [attr.bonuses]="bonuses"
					  success-cta-link=""
					  user-agent="iOS"
					  [attr.transaction]="transaction">
		</fluid-widget>
	</div>
</div>
