:host {
	min-block-size: 100vh;
	display: block;
	--transition-background: background-color 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	--transition-fade: opacity 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.body {
	min-block-size: 100vh;
	background-color: var(--zero-bg);
	color: var(--text-color-primary);

	@media (min-width:961px) {
		display: grid;
		grid-template-columns: 230px 1fr;
		grid-template-rows: auto 0;

		&.gameplay {
			grid-template-columns: 104px 1fr;
		}
	}
}
