<section class="content">
	<div class="game-wrapper container">
		<app-tools (quickDepositClicked)="onQuickDepositClick()"></app-tools>
		<app-game></app-game>
		<div class="inline-quick-deposit-wrapper">
			<fluid-quick-deposit
								 #fluidQuickDepositRef id="fluid-widget-inline"
								 [attr.operator-id]="operatorId"
								 [attr.user-id]="userId"
								 [attr.session-id]="sessionId"
								 locale="en"
								 currency="EUR"
								 country="IRL"
								 user-data="{}"
								 [attr.deposit-limit]="depositLimit"
								 [attr.bonuses]="bonuses"
								 [attr.transaction]="transaction"
								 z-index="100">
			</fluid-quick-deposit>
		</div>

	</div>
	<app-footer-mobile (quickDepositClicked)="onQuickDepositClick()"></app-footer-mobile>
	<!-- <app-footer-desktop></app-footer-desktop> -->
</section>
