@media (min-width:961px) {
	.content {
		display: flex;
		flex-direction: column;
		block-size: 100vh;
	}

	.game-wrapper {
		margin-block-end: auto; /* To set the navigation at the bottom */
	}
}

.inline-quick-deposit-wrapper {
	display: none;

	@media (min-width:961px) {
		display: block;
		position: absolute;
		inset: auto 1rem 3rem auto;
		min-inline-size: 532px;
	}
}

