footer {
	display: none;

	@media (min-width:961px) {
		display: flex;
		background-color: var(--base-bg);
	}
}

ul {
	display: flex;

	a {
		font-weight: 700;
		font-size: 12px;
		line-height: 33px;
		color: var(--text-color-secondary);
		padding-inline: 12px;
	}
}
